
footer{
    padding-top: 2rem;
    background-color:#2b5da9;
    color: white;
}
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }
}

.info{
    margin-left: 0;
}

@media (min-width: 768px) {
    .info {
        margin-left: 20px;
    }
}
.footer-heads{
    font-size: 18px;
    font-weight: bold;
}

.contact{
    margin-right: 0;
}

@media (min-width: 768px) {
    .contact {
        margin-right: 20px;
    }
}

hr{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.623);
}

.footer-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
}