.navbar {
    background-color: #1b5aa7;
    color: white;
     padding: 1rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.25rem;
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    gap: 2rem;
    font-weight: 500;
}

.navbar-link {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition: background-color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

.navbar-link:hover {
    background-color: #dfe0e47e;

}

.navbar-link.active {
    background-color: #dfe0e47e;
    color: white;
}
